html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-family: Inter;
  font-style: normal;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
li{
  list-style: none;
}
@media screen and (max-width: 799px){
  .App-form{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 17%;
    background: #F5F5F5;
  }
  .App-form > span{
    position: absolute;
    width: 200px;
    height: 36.83px;
    top: 10%;
    display: flex;
  }
  .App-form > span > h2{
    color: #333333;
    font-weight: bold;
    font-size: 150%;
    margin-right: 5%;
  }
  .App-form > span > h4{
    color: #EB5757;
    font-weight: bold;
    font-size: 150%;
  }
  .App-form > form{
    position: absolute;
    width: 90%;
    height: 40%;
    top: 50%;
    background: #FFFFFF;
    border: 2px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
  }
  .App-form > form > button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    position: absolute;
    width: 30%;
    height: 70%;
    left: 65%;
    top: 15%;
    background: #27AE60;
    border: 2px solid #27AE60;
    box-sizing: border-box;
    border-radius: 8px;
  }
  .App-form > form > button > p{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 60%;
    height: 50%;
    top: 25%;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    color: #FFFFFF;
  }
  .App-form > form > input{
    position: absolute;
    max-width: 80%;
    height: 80%;
    left: 2%;
    top: 10%;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 80%;
    color: #E0E0E0;
    border: transparent;
  }
  main{
    position: absolute;
    width: 100%;
    height: auto;
    top: 20%;
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .App-items-li{
    display: inline-block;
    width: 300px;
    height: auto;
    border: 2px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 1%;
  }
  .App-img{
    background: #F5F5F5;
  }
  .App-img > img{
    width: 60%;
    height: 60%;
    display: flex;
    margin: 0 auto;
  }
  .App-info{
    padding: 20px;
  }
  .App-info > li{
    margin-bottom: 20px;
  }
  .App-info > li > h3{
    font-weight: bold;
    font-size: 25px;
  }
  .App-info > li > p{
    font-weight: 600;
    color: #27AE60;
  }
  .App-info > button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: #27AE60;
    border: 2px solid #27AE60;
    box-sizing: border-box;
    border-radius: 8px;
    color: #FFFFFF;
  }
  .ShoppingCart-Title{
    position: absolute;
    display: flex;
    align-items: center;
    width: 90%;
    height: 5%;
    left: 5%;
    top: 80%;
    background: #27AE60;
    border-radius: 5px 5px 0px 0px;
  }
  .ShoppingCart-Title > span{
    position: absolute;
    color: white;
    left: 35%;
  }
  .ShoppingCart-Text{
    position: absolute;
    width: 90%;
    height: 20%;
    left: 5%;
    top: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    border-radius: 0px 0px 5px 5px;
  }
  .ShoppingCart-Text > h3{
    font-weight: bold;
    margin-bottom: 10px;
  }
  .ShoppingCart-container{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 85%;
    display: flex;
    flex-direction: column;
    background: #F5F5F5;
    border-radius: 0px 0px 5px 5px;
  }
  .ShoppingCart-items{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 3%;
  }
  .ShoppingCart-items > img{
    width: 20%;
    background: #E0E0E0;
    border-radius: 5px;
  }
  .ShoppingCart-items > span{
    position: absolute;
    left: 30%;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .ShoppingCart-items > p{
    position: absolute;
    left: 30%;
    top: 40%
  }
  .ShoppingCart-items > button{
    position: absolute;
    left: 80%;
    font-weight: 500;
    font-size: 12px;
    color: #BDBDBD;
    border: transparent;
  }
  .ShoppingCart-container > span{
    position: static;
    width: 90%;
    height: 2px;
    background: #E0E0E0;
    flex: none;
    flex-grow: 0;
    margin: 10% 5%;
  }
  .ShoppingCart-footer{
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    font-weight: bold;
  }
  .ShoppingCart-container > button {
   display: flex;
   position: relative;
   justify-content: center;
   left: 5%;
   align-items: center;
   width: 90%;
   height: 60px;
   background: #E0E0E0;
   border: 2px solid #E0E0E0;
   box-sizing: border-box;
   border-radius: 8px;
   margin: 10% 0 15%;
  }
  ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}
@media screen and (min-width: 800px) {
.App-form{
  position: absolute;
  width: 100%;
  height: 8%;
  background: #F5F5F5;
}
.App-form > span{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 5%;
  left: 80px;
  top: 30%;
}
.App-form > span > h2{
  color: #333333;
  font-weight: bold;
  font-size: 150%;
  margin-right: 8%;
}
.App-form > span > h4{
  color: #EB5757;
  font-weight: bold;
  font-size: 150%;
}
.App-form > form{
  position: relative;
  padding: 0 1% 0 0.5%;
  width: 23%;
  height: 80%;
  left: 70%;
  top: 10%;
  background: #FFFFFF;
  border: 2px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 8px;
}
form > button{
  position: absolute;
    width: 30%;
    height: 70%;
    left: 68%;
    top: 15%;
    background-color: #27AE60;
    border: 2px solid #27AE60;
    color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-size: 50%;
}

form > input{
  position: absolute;
  width: 80%;
  height: 30%;
  left: 4%;
  top: 34%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 90%;
  line-height: 19px;
  color: #E0E0E0;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: none;
}

main{
  position: absolute;
  width: 60%;
  left: 7%;
  top: 15%;
}
.App-items > ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.App-items{
  width: 100%;
  position: absolute;
}
.App-items-li{
  width: 30%;
  height: 40%;
  background: #FFFFFF;
  border: 2px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 15px;
}
.App-img{
  background: #F5F5F5;
}
.App-img > img{
  width: 50%;
  height: 50%;
  display: flex;
  margin: 0 auto;
}
.App-info{
  position: static;
  width: 60%;
  height: 60%;
  margin: 8% 17%;
}
.App-info > li{
  margin: 2%;
}
.App-info > li > h3{
  font-weight: bold;
  font-size: 100%;
}
.App-info > li > span{
  color: #828282;

}
.App-info > li > p{
  color: #27AE60;
  font-weight: bold;
}
.App-info > button{
  background-color: #27AE60;
  color:#FFFFFF;
  border: 2px solid #27AE60;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 5% 15%;
}
.App-ShoppingCart{
  position: absolute;
  width: 20%;
  left: 70%;
  top: 15%;
}
.ShoppingCart-Title{
  width: 120%;
  position: relative;
  height: 65px;
  background: #27AE60;
  border-radius: 5px 5px 0px 0px;
}
.ShoppingCart-Title > span{
  position: absolute;
  top: 35%;
  left: 6%;
  font-weight: bold;
  font-size: 93%;
  line-height: 24px;
  color: #FFFFFF;
  }
.ShoppingCart-Text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120%;
  padding-top: 20%;
  padding-bottom: 20%;
  background: #F5F5F5;
  border-radius: 0px 0px 5px 5px;
}
.ShoppingCart-Text > h3{
  font-weight: bold;
  margin-bottom: 10px;
}
.ShoppingCart-container{
  display: flex;
  flex-direction: column;
  background-color: #F5F5F5;
  width: 120%;
}
.ShoppingCart-items{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 3%;
}
.ShoppingCart-items > img{
  width: 22%;
  height: 20%;
  right: 76.68%;
  background: #E0E0E0;
  border-radius: 5px;
} 
.ShoppingCart-items > span{
  position: absolute;
  left: 26.24%;
  right: 24.2%;
  font-weight: bold;
  color: #333333;
  font-size: 92%;
}
.ShoppingCart-items > p{
  position: absolute;
  left: 26.24%;
  bottom: 14.5%;
  font-size: 80%;
}
.ShoppingCart-items > button{
  position: absolute;
  right: 0%;
  top: 8.75%;
  bottom: 72.5%;
  font-weight: 500;
  font-size: 80%;
  line-height: 30%;
  color: #BDBDBD;
  border: transparent;
  background-color: transparent;
  font-size: 65%;
}
 .ShoppingCart-container > span{
  position: static;
  width: 90%;
  height: 2px;
  background: #E0E0E0;
  flex: none;
  flex-grow: 0;
  margin: 10% 5%;
 }
 .ShoppingCart-footer{
   display: flex;
   justify-content: space-between;
   margin: 0 20px;
   font-weight: bold;
 }
 .ShoppingCart-container > button {
  display: flex;
  position: relative;
  justify-content: center;
  left: 11px;
  align-items: center;
  padding: 0 10%;
  width: 90%;
  height: 60px;
  background: #E0E0E0;
  border: 2px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 10% 0 15%;
 }
}